<ion-view title="Our Sponsors">
<ion-content class="padding">
<!--
<ion-content  class="padding" ng-controller="SponsorCtrl" ng-init="loadImages()">
 
     <div class="row" ng-repeat="image in images">
        <div class="col col-100" ng-if="$index < images.length">
				<center><img ng-src="{{images[$index].src}}" width="80%" height="auto"/></center>
        </div>       
    </div>-->
	
	
	<div class="row responsive-sm">
		<div class="col">
			<a href="#" onclick="window.open('http://www.svtronics.com/', '_blank');">
			<img class="about_img" src="img/logo1.png">
		</div>
		<div class="col">
			<a href="#" onclick="window.open('http://saturnelectronics.com/', '_blank');">
			<img class="about_img" src="img/sec.jpg">
		</div>
		<div class="col">
			<a href="#" onclick="window.open('http://www.suzlon.com/', '_blank');">
			<img class="about_img" src="img/logo3.jpg">
		</div>
		<div class="col">
			<a href="#" onclick="window.open('http://www.multilayer.com/', '_blank');">
			<img class="about_img" src="img/multi_logo.jpg">
		</div>
		<div class="col">
			<a href="#" onclick="window.open('http://www.horizon.com/', '_blank');">
			<img class="about_img" src="img/horizon.jpg">
		</div>
		<div class="col">
			<a href="#" onclick="window.open('http://www.fsbshallowater.com/', '_blank');">
			<img class="about_img" src="img/bank.png">
		</div>
		<div class="col">
			<a href="#" onclick="window.open('http://www.helpfortax.com/', '_blank');">
			<img class="about_img" src="img/perfect_tax.png">
		</div>
		<div class="col">
			<a href="#" onclick="window.open('http://www.sonahomes.com/', '_blank');">
			<img class="about_img" src="img/sona-logo.png">
		</div>
	</div>
	
</ion-content>
</ion-view>
